<!-- <body id="home">
       
      
       <a href="#home" class="scroll backtotop">
           <i class="fa fa-angle-up"> </i>
       </a> -->

<!-- Start of Header -->
<header id='header'>
    <div class="row">
        <div class="large-4 medium-12 column">
            <div class="logoholder">
                <a href="home" class="scroll"><img class='LogoImage' src="../assets/images/Ranstars_Logo.PNG" alt=""
                        title=""></a>
            </div>
        </div>
        <div class="large-8 medium-12 column">
            <nav>
                <ul>
                    <li><a href="home" class="scroll">Home</a></li>
                    <li>/</li>
                    <li><a href="/home#about" class="scroll">About</a></li>
                    <li>/</li>
                    <li><a href="/home#services" class="scroll">I am a Buyer</a></li>
                    <li>/</li>
                    <li><a href="/home#seller" class="scroll">I am a Seller</a></li>
                    <li>/</li>
                    <li><a href="/home#contact" class="scroll">Contact</a></li>
                </ul>
            </nav>
        </div>

        <div class="large-12 column">
            <div class="sep"> </div>
        </div>

    </div>
</header>
<!-- End of Header -->