 <!-- Start of Contact --> 
 <section class="contact" id="contact">
    <div class="row">
       
       <div class="large-8 large-centered column">
            <div class="title">
                <h1>CONTACT</h1>
                <span>...</span>
                <p>we'd really love to hear from you so why not drop us a line<br/>and we'll get back to you as soon as we can</p>
            </div>
        </div>
        
        <div class="large-12 column">
            <div class="map">
               <iframe width="1170" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/place/Poyampalayam,+Tiruppur,+Tamil+Nadu/@11.1499501,77.3290186,14z/data=!3m1!4b1!4m9!1m2!2m1!1snanjappa+nagar+near+Poyampalayam,+Tiruppur,+Tamil+Nadu!3m5!1s0x3ba9066ea691197b:0xc5b39d8eda9e2192!8m2!3d11.1491656!4d77.3410569!15sCjZuYW5qYXBwYSBuYWdhciBuZWFyIFBveWFtcGFsYXlhbSwgVGlydXBwdXIsIFRhbWlsIE5hZHWSAQxzdWJsb2NhbGl0eTE"></iframe>
            </div>
        </div>
        
     
        
        <div class="large-4 large-uncentered medium-10 medium-centered column">
          <div class="smallTitle">
             <h2>OUR ADDRESS</h2>
             <span>...</span>
          </div>
          
          <ul class="fa-ul">
             <li>
                 <i class="fa-li fa fa-home"></i>
                 THE CENTRAL CAPITAL BUSINESS CENTRE, <br/>
                 STRICTLY DESIGN STREET, MALTA,<br/>
                 ZEBBUG 33141
             </li>
             <li>
                 <i class="fa-li fa fa-phone"></i>
                 (+356) 9933-4214
             </li>
             <li>
                 <i class="fa-li fa fa-globe"></i>
                 <a href="#">info@Soul.com</a>
             </li>
             <li>
                 <i class="fa-li fa fa-briefcase"></i>
                 8.30am - 7.00pm
             </li>
           </ul>
          
        </div>
        
        <div class="large-12 column"> </div>
        
    </div>
</section>
<!-- End of Contact -->
